<style type="text/css">
	body{
		text-align: center;
	}

	p{
		margin: 20px 0;
	}
</style>

<p>
    <strong>PRIVACY POLICY</strong>
</p>
<p>
    ADKM, Inc. (<strong><em>Harry’s</em></strong>) considers the privacy and security of user information an important component of the services offered at its
    website, www.harry’s.com (the <strong><em>Site</em></strong>). The following information explains how Harry’s collects and uses information obtained from
    users in connection with services available at the Site (taken together, the <strong><em>Service</em></strong>).
</p>
<p>
    <strong>Information Collected.</strong>
</p>
<p>
    At your election, you may request additional information about Harry’s. When you do so, you may need to submit certain information or data to Harry’s, for
    example, your contact information (collectively, <strong><em>User Data</em></strong>).
</p>
<p>
    When you visit the Site, web servers collect "traffic data" (such as, for example, time and date, the address of the website from which you entered the
    Site) about your visit, which is stored as anonymous, aggregate data. Collecting such data may entail the use of IP addresses or other numeric codes used
    to identify a computer.
</p>
<p>
    <strong>Use of Information.</strong>
</p>
<p>
    Harry’s uses User Data to respond to your inquiries for additional information.
</p>
<p>
    Harry’s uses "traffic data" to help diagnose problems with its server, analyze trends and administer the Site. Your IP address is not linked to personally
    identifiable information, but is used to gather broad demographic data and to monitor statistics to improve the Site and Service.
</p>
<p>
    <strong>Sharing of Information.</strong>
</p>
<p>
    Currently, Harry’s will not share personally identifiable information with any third party for commercial purposes. Harry’s may, however, disclose
    personally identifiable data if (1) reasonably necessary to perform the Service, (2) authorized by you, (3) otherwise permitted under this Privacy Policy
    or (4) Harry’s is required to do so by law or regulation, or in the good faith belief that such action is necessary to (i) conform or comply with
    applicable laws, regulations or legal process, (ii) protect or defend the rights or property of Harry’s or any other user or (iii) enforce the Terms of
    Use.
</p>
<p>
    Harry’s may transfer personally identifiable information to any successor to all or substantially all of its business or assets that concern the Service.
</p>
<p>
    <strong>Security.</strong>
</p>
<p>
    Information collected by Harry’s is stored in secure operating environments that are not made generally available to the public. Unfortunately, no data
    transmission over the Internet can be guaranteed to be 100% secure. As a result, Harry’s cannot ensure the security of any information you provide, and you
    do so at your own risk. Once Harry’s receives your transmission, it will make reasonable efforts to ensure its security on its systems.
</p>
<p>
    <strong>Third Party Sites.</strong>
</p>
<p>
    The Site may permit you to link to other websites on the Internet, and other websites may contain links to the Site. These other websites are not under
    Harry’s control. The privacy and security practices of websites linked to or from the Site are not covered by this Privacy Policy, and Harry’s is not
    responsible for the privacy or security practices or the content of such websites.
</p>
<p>
    <strong>IP Addresses and Cookies.</strong>
</p>
<p>
    Harry’s may use your IP address to help diagnose problems with its server, and to administer the Site. Your IP address is used to help identify you and to
    gather broad demographic information. IP addresses are also used to provide an audit trail in the case of any attempted illegal or unauthorized use of the
    Site.
</p>
<p>
    "Cookies" are pieces of information that a website transfers to your computer's hard disk for record-keeping purposes. Cookies in and of themselves do not
    personally identify users, although they do identify a user's computer. You may be able to set your web browser to refuse cookies.
</p>
<p>
    <strong>Opt-Out.</strong>
</p>
<p>
If you change your mind about Harry’s use of User Data volunteered by you, you may Harry’s send an email to    <a href="mailto:help@harry's.com">help@harry’s.com</a><strong> </strong>with your electronic mail address.
</p>
<p>
    <strong>Changes.</strong>
</p>
<p>
    Harry’s reserves the right to change or update this Privacy Policy at any time by posting a notice at the Site. Information collected by the Service is
    subject to the Privacy Policy in effect at the time of use.
</p>
<p>
    <strong>Contact.</strong>
</p>
<p>
    If you have any questions regarding this Privacy Policy or your dealings at this Site, please contact Harry’s info@harry’s.com.
</p>

<p>
    <strong>TERMS OF USE</strong>
</p>
<p>
    <strong>Acceptance of Terms.</strong>
</p>
<p>
    The following terms and conditions govern all use of the www.harrys.com website (the <strong><em>Site</em></strong>). The Site is offered subject to
    acceptance without modification of any of the terms and conditions contained herein or all other operating rules, policies and procedures that may be
    published from time to time on this Site by ADKM, Inc. (<strong><em>Harry’s</em></strong>) (collectively, the <strong><em>Terms of Use</em></strong>).
</p>
<p>
    if you do not agree to all of these Terms OF USE, then do not access or use the SITE. BY VIEWING THE SITE, YOU AGREE TO BE BOUND BY ALL OF THESE TERMS OF
    USE.
</p>
<p>
    <strong>Changes.</strong>
</p>
<p>
    Harry’s reserves the right, at its sole discretion, to modify or replace any of these Terms of Use at any time. It is your responsibility to check the
    Terms of Use periodically for changes. Your continued use of the Site following the posting of any changes to the Terms of Use constitutes acceptance of
    those changes.
</p>
<p>
    <strong>Information and Privacy.</strong>
</p>
<p>
    At your election, you may request (and Harry’s may provide) additional information about Harry’s (the <strong><em>Service</em></strong>). When you do so,
you may need to submit certain information or data to Harry’s, for example, your email address. Harry’s current privacy policy is available at    <a href="http:// prelaunch.harrys.com/privacy-policy">http:// prelaunch.harrys.com/privacy-policy</a> (the <strong><em>Privacy Policy</em></strong>), which is incorporated
    by this reference. Harry’s will not edit, delete or disclose the contents of your data in connection with the Service unless (1) reasonably necessary to
    perform the Service, (2) authorized by you, (3) otherwise permitted under the Privacy Policy or (4) Harry’s is required to do so by law or regulation, or
    in the good faith belief that such action is necessary to (i) conform or comply with applicable laws, regulations or legal process, (ii) protect or defend
    the rights or property of Harry’s or any other user or (iii) enforce these Terms of Use. Harry’s may terminate your access to all or any part of the
    Service at any time, with or without cause, with or without notice, effective immediately.
</p>
<p>
    <strong>Rules and Conduct.</strong>
</p>
<p>
    As a condition of use, you promise not to use the Site for any purpose that is unlawful or prohibited by these Terms of Use, or any other purpose not
    reasonably intended by Harry’s. You agree to abide by all applicable local, state, national and international laws and regulations.
</p>
<p>
    <strong>Third Party Sites.</strong>
</p>
<p>
    The Site may permit you to link to other websites on the Internet, and other websites may contain links to the Site. These other websites are not under
    Harry’s control, and you acknowledge that Harry’s is not responsible for the accuracy, legality, appropriateness or any other aspect of the content or
    function of such websites. The inclusion of any such link does not imply endorsement by Harry’s or any association with its operators.
</p>
<p>
    <strong>Proprietary Rights.</strong>
</p>
<p>
    You agree that all content and materials delivered via the Site and the Service or otherwise made available by Harry’s at the Site are protected by
    copyrights, trademarks, service marks, patents, trade secrets or other proprietary rights and laws. Except as expressly authorized by Harry’s in writing,
    you agree not to sell, license, rent, modify, distribute, copy, reproduce, transmit, publicly display, publicly perform, publish, adapt, edit or create
    derivative works from such materials or content. However, you may print or download a reasonable number of copies of the materials or content at this Site
    for your internal business purposes; <em>provided</em>, that you retain all copyright and other proprietary notices contained therein.
</p>
<p>
    <strong>No Warranties.</strong>
</p>
<p>
    THE SITE AND ALL MATERIALS, INFORMATION, SOFTWARE, PRODUCTS AND SERVICES INCLUDED IN OR AVAILABLE THROUGH THE SITE (THE <strong><em>CONTENT</em></strong>)
    ARE PROVIDED "AS IS" AND "AS AVAILABLE". THE SITE, SERVICE AND CONTENT ARE PROVIDED WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING, BUT NOT
    LIMITED TO, THE IMPLIED WARRANTIES OF TITLE, NON-INFRINGEMENT, MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE, AND ANY WARRANTIES IMPLIED BY ANY
    COURSE OF PERFORMANCE OR USAGE OF TRADE, ALL OF WHICH ARE EXPRESSLY DISCLAIMED. HARRY’S, AND ITS AFFILIATES, LICENSORS AND SUPPLIERS DO NOT WARRANT THAT:
    (1) THE CONTENT IS TIMELY, ACCURATE, COMPLETE, RELIABLE OR CORRECT; (2) THE SITE WILL BE SECURE OR AVAILABLE AT ANY PARTICULAR TIME OR LOCATION; (3) ANY
    DEFECTS OR ERRORS WILL BE CORRECTED; (4) THE CONTENT IS FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS; OR (5) THE RESULTS OF USING THE SITE OR SERVICE WILL
    MEET YOUR REQUIREMENTS. YOUR USE OF THE SITE AND/OR SERVICE IS SOLELY AT YOUR OWN RISK.
</p>
<p>
    <strong>Limitation of Liability.</strong>
</p>
<p>
    IN NO EVENT SHALL HARRY’S (OR ITS AFFILIATES, LICENSORS AND SUPPLIERS) BE LIABLE CONCERNING THE SUBJECT MATTER OF thESE TERMS OF USE, regardless of the
    form of any claim or action (whether in CONTRACT, NEGLIGENCE, STRICT LIABILITY OR OTHERwise), for any (1) MATTER BEYOND ITS REASONABLE CONTROL, (2) LOSS OR
    INACCURACY of data, loss or interruption OF USE, OR COST OF PROCURING SUBSTITUTE TECHNOLOGY, GOODS or SERVICES, OR (3) DIRECT OR INDIRECT, PUNITIVE,
    INCIDENTAL, RELIANCE, SPECIAL, EXEMPLARY OR CONSEQUENTIAL DAMAGES INCLUDING, BUT NOT LIMITED TO, LOSS OF BUSINESS, REVENUES, PROFITS OR GOODWILL, EVEN IF
    HARRY’S HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. THESE LIMITATIONS ARE INDEPENDENT FROM ALL OTHER PROVISIONS OF THIS AGREEMENT AND SHALL APPLY
    NOTWITHSTANDING THE FAILURE OF ANY REMEDY PROVIDED HEREIN.
</p>
<p>
    <strong>Miscellaneous.</strong>
</p>
<p>
    These Terms of Use shall be governed by and construed in accordance with the laws of the State of New York, excluding its conflicts of law rules, and the
    United States of America. If any provision of the Terms of Use is found to be unenforceable or invalid, that provision will be limited or eliminated to the
    minimum extent necessary so that the Terms of Use will otherwise remain in full force and effect and enforceable. Harry’s may assign, transfer or delegate
    any of its rights and obligations hereunder without consent. All waivers and modifications must be in a writing signed by Harry’s, except as otherwise
    provided herein. No agency, partnership, joint venture, or employment relationship is created as a result of these Terms of Use, and neither party has any
    authority of any kind to bind the other in any respect.
</p>
<p>
    <strong>Copyright and Trademark Notices.</strong>
</p>
<p>
    Unless otherwise indicated, these Terms of Use and all Content provided by Harry’s are copyright © 2013 ADKM, Inc. All rights reserved.
</p>
<p>
    Harry’s and the Harry’s logo are trademarks of ADKM, Inc.
</p>
<p>
    <strong>Contact.</strong>
</p>
<p>
    You may contact Harry’s at help@harrys.com.
</p>